*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100vw;
}
.titulo-cabecalho{
    text-align: center;
    background-color: slateblue;
    color: white;
    padding: 1.5rem;
}
.menu-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.botao-cadastrar{
    width: 150px;
    height: 30px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background-color: #6a5acd;
    border-color: #6a5acd;
    color: #ffffff;
    margin-top: 15px;
}
.botao-cadastrar:hover{
    cursor: pointer;
    background-color: rgb(92, 80, 168);
}
.botao-cadastrar:active{
    background-color: #6a5acd;
}

table{
    background-color: #ffffff;
    margin-top: 1rem;
    box-shadow: 0 0 10px;
}

th{
    padding: 0.4rem;
    text-align: left;
    background-color: #ffca28;
    width: 14rem;
    font-size: 1.2rem;
}
tr, td{
    width: 14rem;
    padding: 0.5rem;
    font-size: 1.05rem;
}
tr:hover{
    background-color: bisque;
}

.botao-editar{
    width: 70px;
    background-color: #ffcc5c;
    border-color: #ffcc5c;
    font-weight: bold;
    height: 28px;
    margin-left: 18px;
}
.botao-editar:hover{
    background-color: rgb(250, 193, 71);
    cursor: pointer;
}
.botao-editar:active{
    background-color: #ffcc5c;
}
.botao-deletar{
    width: 70px;
    background-color: #d96459;
    border-color: #d96459;
    font-weight: bold;
    height: 28px;
    margin-left: 10px;
}
.botao-deletar:hover{
    background-color: #ca594f;
    cursor: pointer;
}
.botao-deletar:active{
    background-color: #d96459;
}