
*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100vw;
}
header{
    width: 100vw;
}
.titulo-cabecalho{
    width: 100vw;
    text-align: center;
    background-color: slateblue;
    color: white;
    padding: 1.5rem 0;
}
.menu-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.botao-cadastrar{
    width: 150px;
    height: 30px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background-color: #6a5acd;
    border-color: #6a5acd;
    color: #ffffff;
    margin-top: 15px;
}
.botao-cadastrar:hover{
    cursor: pointer;
    background-color: rgb(92, 80, 168);
}
.botao-cadastrar:active{
    background-color: #6a5acd;
}
.div-tabela{
    width: 95vw;
    height: 100vh;
}

table{
    width: 95vw;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 0 0 10px;
}

th{
    padding: 0.4rem;
    text-align: left;
    background-color: #ffca28;
    width: 14rem;
    font-size: 1.2rem;
}
tr, td{
    width: 14rem;
    padding: 0.5rem;
    font-size: 1.05rem;
}
tr:hover{
    background-color: bisque;
}

.botao-editar{
    width: 70px;
    background-color: #ffcc5c;
    border-color: #ffcc5c;
    font-weight: bold;
    height: 28px;
    margin-left: 18px;
}
.botao-editar:hover{
    background-color: rgb(250, 193, 71);
    cursor: pointer;
}
.botao-editar:active{
    background-color: #ffcc5c;
}
.botao-deletar{
    width: 70px;
    background-color: #d96459;
    border-color: #d96459;
    font-weight: bold;
    height: 28px;
    margin-left: 10px;
}
.botao-deletar:hover{
    background-color: #ca594f;
    cursor: pointer;
}
.botao-deletar:active{
    background-color: #d96459;
}



@media screen and (min-width: 375px )and (max-width: 500px){
    
    thead{
        display: none;
    }
    
    tr,td{
        display: block;
    }
    td:nth-child(1){
        margin-top: 15px;
    }
   
    tr{
        width: 90vw;
        height: 265px;
        box-shadow: 0 1px 6px
    }
     td{
        width: 330px;
        font-size: 25px;
    }
    .botao-editar, .botao-deletar{
        width: 85px;
        height: 43px;
        font-size: 17px;
    }
    .botao-editar{
        margin: 7px 40px 0 0;
    }

    .botao-cadastrar{
        position: fixed;
        left: 80vw;
        top: 85vh;
        font-size: 0;
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 35px;

    }
    .botao-cadastrar::before{
        content: "+";
        color:black;
        font-size:3rem;
    }

    .formulario-modal{
        position: fixed;
        left: 6px;
        top: 200px;

    }
    
}    